#blueprint {
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #1e5799 0%,
    #2b91e5 50%,
    #b2fcff 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #1e5799 0%,
    #2b91e5 50%,
    #b2fcff 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #1e5799 0%,
    #2b91e5 50%,
    #b2fcff 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 180px 0;
  color: white;
}
#blueprint .container:after {
  content: "";
  display: table;
  clear: both;
}
#blueprint .left-side {
  width: 60%;
  float: left;
}
#blueprint .left-side .bg-img {
  width: 700px;
  margin-top: 200px;
}
/* right side */
#blueprint .right-side {
  width: 40%;
  float: left;
}
/* clear float */
#blueprint .container .right-side:after {
  content: "";
  display: table;
  clear: both;
}
#blueprint .container .left-side:after {
  content: "";
  display: table;
  clear: both;
}
#blueprint .right-side h1 {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  margin-bottom: 70px;
}
#blueprint .right-side .info-box .col-2 h3 {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 30px;
}
#blueprint .right-side .info-box .col-2 p {
  font-size: 20px;
  font-weight: 300;
  color: white;
  margin-bottom: 30px;
}
#blueprint .right-side .info-box .col-2 a {
  text-transform: uppercase;
  text-decoration: none;
  color: #b2fcff;
  font-weight: 400;
  font-size: 1rem;
}
#blueprint .container .right-side .info-box:after {
  content: "";
  display: table;
  clear: both;
}
#blueprint .right-side .info-box .col-1 {
  width: 40%;
  float: left;
}
#blueprint .right-side .info-box .col-2 {
  width: 60%;
  float: left;
}
#blueprint .right-side .info-box .icon-container {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #b2fcff;
  position: relative;
}
#blueprint .right-side .info-box .icon-container .dashed-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px dashed white;
  margin: 0 auto;
  position: absolute;
  top: 14px;
  right: 13px;
}
#blueprint .right-side .info-box .col-1 .icon-container .fas.fa-wifi {
  font-size: 3rem;
  position: absolute;
  top: 42px;
  left: 39px;
}
#blueprint .right-side .info-box .col-1 .icon-container .fas.fa-microphone {
  font-size: 3rem;
  position: absolute;
  top: 42px;
  left: 52px;
}
#blueprint .container .right-side .info-box {
  padding: 0 0 50px;
}
/* Media queries */
/* laptop devices */
@media only screen and (max-width: 1240px) {
  #blueprint .left-side {
    width: 100%;
  }
  #blueprint .left-side .bg-img {
    width: 600px;
    margin-top: -100px;
  }
  #blueprint .right-side .info-box {
    margin: 0px;
    padding: 0px;
  }
  #blueprint .container {
    text-align: center;
  }
  #blueprint .right-side {
    width: 100%;
  }
  #blueprint .right-side .info-box {
    position: relative;
    width: 40%;
    text-align: center;
    margin: 0 auto;
  }
  #blueprint .right-side .info-box .col-1 {
    width: 40%;
    float: left;
    margin-right: 100px;
    text-align: center;
    margin: 0 auto;
  }
  #blueprint .right-side .info-box .col-2 {
    width: 60%;
    float: left;
    text-align: center;
    margin: 0 auto;
  }
  #blueprint .right-side h1 {
    margin-top: 40px;
  }
}
/* tablets devices */
@media only screen and (max-width: 1023px) {
  #blueprint .left-side .bg-img {
    width: 100%;
    margin-top: -100px;
  }
  #blueprint .right-side .info-box .col-1 {
    float: left;
    text-align: left;
    margin: 40px 200px;
  }
  #blueprint .right-side .info-box .col-2 {
    float: left;
    text-align: left;
    margin: 40px 200px;
    text-align: center;
  }
  #blueprint .right-side .info-box {
    float: left;
    text-align: left;
    text-align: center;
  }
}
/* mobile devices */
@media only screen and (max-width: 767px) {
  #blueprint .right-side .info-box {
    margin: 0px;
    position: relative;
    left: -90px;
  }
}
