#design {
	position: relative;
	top: -100px;
}

#design .design-container {
	position: relative;
	background: whitesmoke;
	overflow: hidden;
}

#design .design-container .bg-container {
	position: relative;
	background: #4c44c1;
	overflow: hidden;
	padding: 45px;
}

#design .design-container .bg-img {
	position: absolute;
	width: 300px;
	z-index: 1;
	opacity: .2;
	right: 0;
	bottom: 0;
}

#design .design-container:after {
	content: "";
	display: table;
	clear: both;
}
#design .design-container .info-area {
	background: #4c44c1;
	display: inline-block;
	float: left;
}
#design .design-container .info-area h4 {
	color: orange;
	font-size: 1.4rem;
	margin-bottom: 2rem;
	text-transform: uppercase;
	position: relative;
	z-index: 2;
}
#design .design-container .info-area h1 {
	color: whitesmoke;
	font-size: 2.5rem;
	margin-bottom: 2rem;
	position: relative;
	z-index: 2;
}

#design .design-container .info-area a {
	border-radius: 2rem;
	background: whitesmoke;
	color: #4c44c1;
	padding: 10px 45px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 15px;
	margin-top: 30px;
	display: inline-block;
}
#design .design-container .info-area .icon-area {
	margin-bottom: 4rem;
	position: relative;
	z-index: 2;
}

#design .design-container .info-area .icon-area li {
	list-style: none;
	color: white;
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 15px;
	vertical-align: top;
}

#design .design-container .info-area .icon-area li .far {
	color: orange;
	margin-right: 10px;
}

/*   ICON SECTION  - FOUR GRID */
#design .design-container .fourgrid {
	display: inline-block;
	float: left;
	width: 60%;
	background: white;
}

#design .design-container .fourgrid .iconbox {
	display: inline-block;
	float: left;
	width: 60%;
	background: white;
}
