#latest {
  background: white;
  padding: 50px 0;
}
#latest .header {
  padding: 50px 0;
}
#latest .header:after {
  content: "";
  display: table;
  clear: both;
}

#latest .header h1 {
  color: #6066f2;
  font-size: 4rem;
  max-width: 400px;
  width: 100%;
  display: inline-block;
  float: left;
}

#latest .header .directions {
  display: inline-block;
  float: right;
  position: relative;
  top: 20px;
}

#latest .header .directions .move-left {
  float: left;
  padding: 20px 70px;
  font-size: 3rem;
  background: #6066f2;
  color: white;
  border: 1px solid #6066f2;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#latest .header .directions .move-right {
  float: right;
  padding: 20px 70px;
  font-size: 3rem;
  background: white;
  color: #cecece;
  border: 1px solid #cecece;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* BODY */
#latest .body {
  padding: 180px 0;
}
#latest .body::after {
  content: "";
  display: table;
  clear: both;
}

#latest .body .column {
  width: 33.33%;
  float: left;
  padding: 0px 15px;
}
/*------------------------------- NTH(square) */
/*------------------------------- NTH(square) */
#latest .body .column:nth-child(1) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #ae90f4; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ae90f4 0%,
    #3596ea 60%,
    #0058dd 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ae90f4 0%,
    #3596ea 60%,
    #0058dd 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ae90f4 0%,
    #3596ea 60%,
    #0058dd 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .body .column:nth-child(2) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #91f2f0; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #91f2f0 1%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #91f2f0 1%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #91f2f0 1%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
#latest .body .column:nth-child(3) .bg-square {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #ea978c; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ea978c 0%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ea978c 0%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ea978c 0%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: relative;
}
/*------------------------------- NTH(square) */
/*------------------------------- NTH(square) */
/*parent div most always be relative so it keeps image inside */
#latest .body .column .bg-square img {
  width: 70%;
  position: absolute;
  top: 50px;
  left: 50px;
}
/*------------------------------- NTH(cart) */
/*------------------------------- NTH(cart) */
#latest .body .column:nth-child(1) .bg-square .cart {
  width: 80px;
  height: 80px;
  border: 8px solid white;
  position: absolute;
  top: -25px;
  right: -20px;
  border-radius: 50%;
  background: #ae90f4;
  /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ae90f4 0%,
    #3596ea 60%,
    #0058dd 100%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ae90f4 0%,
    #3596ea 60%,
    #0058dd 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ae90f4 0%, #3596ea 60%, #0058dd 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column:nth-child(2) .bg-square .cart {
  width: 80px;
  height: 80px;
  border: 8px solid white;
  position: absolute;
  top: -25px;
  right: -20px;
  border-radius: 50%;
  background: #91f2f0; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #91f2f0 1%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #91f2f0 1%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #91f2f0 1%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#latest .body .column:nth-child(3) .bg-square .cart {
  width: 80px;
  height: 80px;
  border: 8px solid white;
  position: absolute;
  top: -25px;
  right: -20px;
  border-radius: 50%;
  background: #ea978c; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ea978c 0%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  );
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ea978c 0%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ea978c 0%,
    #3596ea 60%,
    #004eea 95%,
    #004eea 95%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/*------------------------------- NTH(cart) */
/*------------------------------- NTH(cart) */
#latest .body .column .bg-square .cart .fas {
  position: absolute;
  top: 21px;
  right: 22px;
  color: white;
  font-size: 20px;
}
